head
  title FindIt

body

template(name="mainLayout")
  #container
    header
      +header
    main.container
      +yield
    footer
      .container
        p Meteor discovery project by Mandaryn

template(name="findit")
  .row  
    each places
      +place

template(name="place")
  .col-xs-6.col-sm-4.col-md-3(class=distanceClass)
    .thumbnail
      img(src=image)
      .caption
        h3 #{name}
        p Latitude: {{roundGeo latitude}}
        p Longitude: {{roundGeo longitude}}
        p Distance: #{distance}m

template(name="coordinates")
  | Latitude: {{roundGeo currentCoordinates.lat}}, Longitude: {{roundGeo currentCoordinates.lng}}

template(name="faq")
  p This is a simple geo game where you need to get close to the place in photo to claim it.
  p Claim as much of the places as possible to win.
