#velocity-status-widget {
  bottom: 0px;
  top: auto;
  -webkit-transform: translate(50%, 50%) rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -o-transform: translate(50%, 50%) rotate(45deg);
  -o-transform-origin: 50% 50%;
  transform: translate(50%, 50%) rotate(45deg);
  transform-origin: 50% 50%;
}

.place.thumbnail {
  position: relative;
  .action {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
  }
}

