head
  title FindIt

body

template(name="mainLayout")
  #container
    header
      +header
    main.container
      +yield
    footer
      .container
        p Meteor discovery project by Mandaryn

template(name="placeDetails")
  h1
    | Cogratulations! You found "{{ name }}"
  p
    | hello {{ description }}


template(name="findit")
  if checkinPlace
    +placeDetails checkinPlace
  .row  
    each places
      +place

template(name="place")
  .col-xs-4.col-sm-4.col-md-3.col-lg-2
    .place.thumbnail(style=distanceColorStyle)
      img(src=image)
      if isClose
        .action
          button.btn.btn-success(type="button")
            span.glyphicon.glyphicon-ok
            | Check in!

template(name="coordinates")
  | Latitude: {{roundGeo currentCoordinates.lat}}, Longitude: {{roundGeo currentCoordinates.lng}}

template(name="faq")
  p This is a simple geo game where you need to get close to the place in photo to claim it.
  p Claim as much of the places as possible to win.
