head
  title findit

body
  .container
    header
      h1 Places
        span.coordinates
          +coordinates

    ul
      each places
        +place

template(name="place")
  li
    img(src=image)
    p #{name}

template(name="coordinates")
  | Latitude: #{currentCoordinates.lat}, Longitude: #{currentCoordinates.lng}
